* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea,
select {
  font-family: Roboto, sans-serif;
}

body {
  background-color: #121214;
  color: #878686;
}
