.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1064px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 20px;
}

.nav button {
  color: #9875e7;
  border: none;
}

.content {
  max-width: 776px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 20px;

  & p {
    margin: 20px 0;
  }

  & h2 {
    margin-bottom: 20px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1064px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 20px;

  & button {
    padding: 1rem 2rem;
    font-size: 1rem;
    background: #202024;
    border-radius: 5px;
    background: transparent;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #fff;
  padding: 80px 40px;
  border-radius: 5px;

  color: #333;
}
